{% extends 'base.html' %}
{% block title %}Lista de Empleados{% endblock %}
{% block content %}
<h1 class="title is-3">Empleados</h1>
<a href="{{ url_for('create_empleado') }}" class="button is-success mb-4">Nuevo Empleado</a>
<table class="table is-fullwidth is-striped">
    <thead>
        <tr>
            <th>No. Empleado</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Departamento</th>
            <th>Puesto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
        <tr>
            <td>{{ empleado.no_empleado }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.ap_paterno }}</td>
            <td>{{ empleado.ap_materno }}</td>
            <td>{{ empleado.departamento }}</td>
            <td>{{ empleado.puesto }}</td>
            <td>
                <a href="{{ url_for('update_empleado', no_empleado=empleado.no_empleado) }}" class="button is-small is-info">Editar</a>
                <a href="{{ url_for('delete_empleado', no_empleado=empleado.no_empleado) }}" class="button is-small is-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}